.brands-list {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 3px;
  margin: 20px 0;
}

@media (max-width: 1495px) {
  .brands-list {
    grid-template-columns: repeat(10, 1fr);
  }
}
@media (max-width: 1250px) {
  .brands-list {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (max-width: 900px) {
  .brands-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 666px) {
  .brands-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 395px) {
  .brands-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
