/* #cards-list {
  margin-bottom: 25px;
} */

.cards-list__box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 100%;
  margin: 20px 0;
}

#cards-list .title__info {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

@media (max-width: 1439px) {
  .cards-list__box {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1199px) {
  .cards-list__box {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 979px) {
  .cards-list__box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .cards-list__box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 442px) {
  .cards-list__box {
    grid-template-columns: repeat(1, 1fr);
  }
}
