#cards-list {
  margin-bottom: 25px;
}

.cards-list__box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  gap: 20px;
  width: 100%;
}

@media (max-width: 1439px) {
  .cards-list__box {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1199px) {
  .cards-list__box {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 979px) {
  .cards-list__box {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .cards-list__box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 319px) {
  .cards-list__box {
    grid-template-columns: repeat(1, 1fr);
  }
}
