.popular-carlist__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 140px;
  width: 132px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s;
}

.popular-carlist__item:hover {
  transform: scale(1.06);
}

.popular-carlist__img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
}
