.edit-page__flex-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.edit-page__image {
  max-width: 800px;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.image-box {
  position: relative;
}

.image {
  display: block;
}

.delete-image-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: var(--accent-color);

  font-size: 30px;

  right: 0;
}
