.search-panel {
  /* padding: 10px; */
  position: sticky;
  /* left: 0; */
  /* right: 0; */
  top: 60px;
  z-index: 10;
}

.search-panel__wrapper {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: var(--theme-color);
  gap: 10px;
}

.search-category__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--theme-accent-color);
  /* background-color: var(--primary-color); */
  /* color: #000; */
  font-weight: 700;
  padding: 8px 15px;
  border-radius: 7px;
  width: 100%;
  cursor: pointer;
}

.search-input__wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
  position: relative;
}

.search-input {
  width: 700px;
  height: 41px;
  border-radius: 7px;
  border: none;
  padding: 0 10px 0 36px;
  font-size: 18px;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 9px;
  font-size: 20px;
}
