.search-panel {
  position: sticky;
  top: 60px;
  z-index: 10;
  margin: 15px;
}

.search-panel__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: var(--theme-color);
  gap: 20px;
}

.search-category__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--theme-accent-color);
  font-weight: 700;
  padding: 8px 15px;
  border-radius: 7px;
  max-width: 250px;
  width: 100%;
  cursor: pointer;
}

.search-input__wrapper {
  display: flex;
  gap: 3px;
  position: relative;
  width: 100%;
}

.search-input {
  width: 100%;
  height: 41px;
  border-radius: 7px;
  border: none;
  padding: 0 10px 0 45px;
  font-size: 18px;
  background-color: #ffffff;
  color: #000;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 26px;
  color: #000;
}

.search-panel__btn {
  padding: 9px 40px;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
