.footer {
  border-top: 2px solid var(--theme-color);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer__left-side {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1;
}

.logo {
  color: var(--primary-color);
}

.all-rights {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__right-side {
}

.social-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0;
}

.social-item {
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  line-height: 1;
  font-size: 20px;
  transition: all 0.3s;
}

.social-link:hover {
  color: var(--select-color);
}
