.header {
  box-shadow: 0 0 10px #000;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--theme-accent-color);
  background-color: #0f0f0f;
}

.header__wrapper {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
}

.header__left-side {
  display: flex;
  align-items: center;
  gap: 20px;
  /* flex: 1; */
}

.header__tag {
  cursor: pointer;
}

.header__center-side {
  margin: 0 10px;
  /* flex: 1; */
}

.header__right-side {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  flex: 1;
}

.like {
  line-height: 1;
  font-size: 22px;
  cursor: pointer;
}

.login__btn {
  cursor: pointer;
}

.header .avatar-img__wrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.header .avatar-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  /* transform: scale(1.6); */
}

.header .username {
  user-select: none;
  color: var(--select-color);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.header .user-info__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

/* mini user modal */

.miniUserModal {
  background-color: #1b1e2b;
  padding: 15px 20px;
  display: flex;
  max-width: 500px;
  /* width: 100%; */
  flex-direction: column;
  border-radius: 10px;
  position: absolute;
  top: 45px;
  gap: 10px;
  box-shadow: 0 0 5px #000;
}

.miniUserModal__item {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.miniUserModal__item:hover {
  color: var(--select-color);
}
