.header {
  box-shadow: 0 0 10px #000;
  padding: 10px 0;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--theme-accent-color);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__tag {
  cursor: pointer;
}

.header__right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.like {
  line-height: 1;
  font-size: 22px;
  cursor: pointer;
}

.login__btn {
  cursor: pointer;
}
